{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["@typescript-eslint", "prettier", "react"],
  "ignorePatterns": ["node_modules/", "*.config.js"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "@typescript-eslint/no-namespace": "off",
    "react/react-in-jsx-scope": "off"
  }
}
